.popup__save {
  background-image: url(../../../image/Submit\ Button.svg);
  background-repeat: no-repeat;
  background-color: rgba(233, 233, 233, 1);
  width: 358px;
  height: 50px;
  margin-top: 48px;
  align-self: center;
  cursor: pointer;
}
@media (max-width: 768px) {
  .popup__save {
    width: 238px;
    background-position: center;
  }
}
.popup__save:hover {
  opacity: 0.8;
  transition: 0.3s;
}
